<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>EmptyPocketsEats</title>
    <link rel="stylesheet" href="/dist/output.css">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <h1>EmptyPocketsEats</h1>
        <div>
            <form class="flex flex-col justify-center" method="post" id="form" action="/">  
        
              <div class="flex gap-4">
                <div class="mb-4">
                  
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" form="form" name="search_query" type="text" placeholder="Enter ingredients" required>
                </div>
               
              
                <button class="bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" form="form">
                  Search
                </button>
              </div>
              <div id="parentmessage"><p id="message" ></p></div>
            </form>
        </div>

        <h3>EmptyPocketsEats: Where Even Our Slogan Was On Ramen Budget</h3>
    </body>
</html>