<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{{ dish.title }}</title>
    <link rel="stylesheet" href="/dist/output.css">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <div>
            <h1> {{ dish.title }}</h1>

            {% if dish.image %}
            <img src = "{{ dish.image }}" alt="{{ dish.title}}">
            {% endif %}
            
            <h2> Ingredients </h2>

            <ul class="ingredient-list">
                {% for ingredient in dish.extendedIngredients %}
                <li>{{ ingredient.original }}</li>
                {% endfor %}

            </ul>

            <h2> Instructions </h2>
            <ol>
                {% for steps in dish.analyzedInstructions[0].steps %}
                <li>{{ steps.step }}</li>
                {% endfor %}

                
            </ol>
            <a href="/?search_query={{ search_query }}">Back to search results</a>
        </div>
        
    </body>
</html>
